body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .flex-column-center > * + * {
    margin-top: 1.75rem; /* Tailwind's space-y-7 = 28px = 1.75rem */
  }
  